{% extends 'aindex.html' %} {% block content2 %}
<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Product Addition Form</h3>
  </div>
  <!-- /.card-header -->
  <!-- form start -->
  <form
    action="{% url 'getcategory' %}"
    enctype="multipart/form-data"
    method="POST"
  >
    {% csrf_token %}
    <div class="card-body">
      <div class="form-group">
        <label for="categoryname">Category Name</label>
        <input
          type="text"
          class="form-control"
          placeholder="Name of Category"
          name="categoryname"
          id="categoryname"
        />
      </div>
      <div class="form-group">
        <label for="categoryimage">Category Image</label>
        <div class="input-group">
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              name="categoryimage"
              id="categoryimage"
            />
            <label class="custom-file-label" for="categoryimage"
              >Choose file</label
            >
          </div>
          <div class="input-group-append">
            <span class="input-group-text">Upload</span>
          </div>
        </div>
      </div>
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
{% endblock %} {% block content1 %} {% endblock %} {% block content3 %} {% endblock %}
