{% extends 'aindex.html' %} {% block content2 %}
<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Product Addition Form</h3>
  </div>
  <!-- /.card-header -->
  <!-- form start -->
  <form
    action="{% url 'getproduct' %}"
    enctype="multipart/form-data"
    method="POST"
  >
    {% csrf_token %}
    <div class="card-body">
      <div class="form-group">
        <label for="productname">Product Name</label>
        <input
          type="text"
          class="form-control"
          placeholder="Name of Product"
          name="productname"
          id="productname"
        />
      </div>
      <div class="form-group">
        <label for="productimage">Product Image</label>
        <div class="input-group">
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              name="productimage"
              id="productimage"
            />
            <label class="custom-file-label" for="productimage"
              >Choose file</label
            >
          </div>
          <div class="input-group-append">
            <span class="input-group-text">Upload</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="productprice">Product Price</label>
        <input
          type="number"
          class="form-control"
          name="productprice"
          id="productprice"
          placeholder="Product Price"
          min="0"
          step="0.01"
        />
      </div>
      <div class="form-group">
        <label for="productcategory">Product Category</label>
        <select name="productcategory" id="productcategory" class="form-control">
          {% for i in categorydatainDB %}
          <option value="{{i.categoryname}}">{{i.categoryname}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="">
        <label for="productdescription">Product Description</label>
        <input
          type="textarea"
          class="form-control"
          placeholder="Description of Product"
          name="productdescription"
          id="productdescription"
        />
      </div>
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
{% endblock %} {% block content1 %} {% endblock %} {% block content3 %} {% endblock %}