{% extends 'userindex.html' %} {% block content1 %} {% endblock %} {% block content2 %}
<div class="container-fluid fruite py-5">
  <div class="container py-5">
    <div class="tab-class text-center">
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <div class="row g-4">
        <h1>Your order has been placed</h1>
      </div>
      <a
        href="{% url 'viewproductascard' category='all' %}"
        class="btn border border-secondary rounded-pill px-3 text-primary"
        ><i class="fa fa-shopping-bag me-2 text-primary"></i> Continue
        Shopping</a
      >
      <br />
      <br />

      <div class="row g-4">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Order History</h3>
          </div>
          <!-- /.card-header -->

          <div class="card-body p-0">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>User Name</th>
                  <th>User Email</th>
                  <th>User Phone</th>
                  <th>Product Name</th>
                  <th>Product Price</th>
                  <th>Product Quantity</th>
                  <th>Product Total</th>
                </tr>
              </thead>
              <tbody>
                {% for i in orderdatainDB %}
                <tr>
                  <td>{{i.id}}</td>
                  <td>{{i.usercheckout.dbusername}}</td>
                  <td>{{i.usercheckout.dbusermail}}</td>
                  <td>{{i.usercheckout.dbuserphone}}</td>
                  <td>{{i.usercart.product.productname}}</td>
                  <td>{{i.usercart.product.productprice}}</td>
                  <td>{{i.usercart.quantity}}</td>
                  <td>{{i.usercart.total}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
